<div class="p-grid ml-2 m-2">
  <div class="p-col" style="text-align: right">
    <span class="mt-2" style="float: left; font-weight: bolder">Users</span>
    <p-button (click)="navigateToAdd()" label="Add User" size="small">
      <span class="ml-1 mr-1 add">
        <i class="pi pi-plus add-icon"></i>
      </span>
    </p-button>
  </div>
</div>
<div class="mt-3">
  <oc-table
    [showSearchBar]="true"
    [url]="{
      getAll: url.Users.getUsersGrid,
      export: url.Users.exportUser,
    }"
    [addButtonLabel]="'Add Users'"
    [columns]="columns"
    [buttonsExistance]="tableBtns"
    [exportUrl]="url.Users.exportUser"
    [actions]="actions"
    [options]="{ check: false, viewDetails: false }"
    [filters]="filters"
    [uploadHeader]="'Upload Bulk Users'"
    [sampleName]="'ImportTemplateSample.xlsx'"
  >
  </oc-table>
</div>
