<div class="p-grid ml-2 m-2">
  <div class="p-col" style="text-align: right">
    <span
      class="mt-2"
      style="float: left; font-weight: 600; font-family: 'public-sans'"
      >Region</span
    >
    <p-button
      (click)="navigateToAdd()"
      label="Add Region"
      size="small"
      *secured="['locations-cities-add']"
    >
      <span class="ml-1 mr-1 add">
        <i class="pi pi-plus add-icon"></i>
      </span>
    </p-button>
  </div>
</div>
<br *ngIf="!authService.hasPermission('locations-cities-add')" />

<div class="mt-3">
  <oc-table
    [showSearchBar]="true"
    [url]="{
      getAll: '/Region/GetGrid',
      export: '/Region/ExportGrid',
      import: '/Region/Import',
    }"
    [addButtonLabel]="'Add Region'"
    [columns]="columns"
    [buttonsExistance]="tableBtns"
    [options]="{
      check: false,
      viewDetails: false,
      edit: showEdit,
      editURL: '/main/locations/region/edit/',
      block: showBlock
    }"
    [filters]="filters"
    [uploadHeader]="'Upload Bulk Region'"
    [sampleName]="'ImportRegionTemplate.xlsx'"
    [service]="service"
  >
  </oc-table>
</div>
