<!-- <div class="p-grid ml-2 m-2">
  <div class="p-col" style="text-align: right">
    <span class="mt-2" style="float: left; font-weight: bolder">Merchant</span>
    <p-button (click)="navigateToAdd()" label="Add Merchant" size="small">
      <span class="ml-1 mr-1 add">
        <i class="pi pi-plus add-icon"></i>
      </span>
    </p-button>
  </div>
</div> -->
<div>
  <app-table
    [showSearchBar]="true"
    [url]="{
      getAll: url.Merchant.GetGrid
    }"
    [addButtonLabel]="'Add Merchant'"
    [columns]="columns"
    [actions]="actions"
    [options]="{ check: false }"
    [filters]="filters"
  >
  </app-table>
</div>
