@import "../../../../assets/styles/mixins";
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.p-card {
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p-field {
  margin-top: 20px;
}

.wid100 {
  width: 100% !important;
}

input,
p-password {
  margin-top: 10px;
}

.save-btn {
  width: 100%;
  margin: auto;
  /* align-self: center; */
  display: block;
}

.forget-password {
  float: right;
  color: blue;
  cursor: pointer;
  margin-top: 10px;
}
:host ::ng-deep .gif-container {
  img {
    background: url("../../../../assets/iamges/BG.svg");
    background-repeat: no-repeat;
    @include breakpoints(up-xxl) {
      background-size: 100% 75%;
    }
    background-color: #001a32;
  }
}

.login-center {
  width: 50%;
  height: auto;
  margin: 0 auto !important;
  padding: 10px;
  position: relative;
}

.button-div {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px; /* Fixed height */
  background-color: #007bff; /* Button color */
  color: white; /* Text color */
  cursor: pointer; /* Change cursor to pointer */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s;
}
.button-div:hover {
  background-color: #0056b3; /* Darker on hover */
}
.button-div img {
  margin-right: 10px; /* Space between image and text */
  height: 40px; /* Image height */
}
