.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.p-card {
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p-field {
  margin-top: 20px;
}

.wid100 {
  width: 100% !important;
}

input,
p-password {
  margin-top: 10px;
}

.save-btn {
  width: 100%;
  margin: auto;
  /* align-self: center; */
  display: block;
}

.forget-password {
  float: right;
  color: blue;
  cursor: pointer;
  margin-top: 10px;
}
:host ::ng-deep .gif-container {
  img {
    background: url("../../../../assets/iamges/BG.svg");
    background-repeat: no-repeat;
    background-size: 100% 75%;
    background-color: #001a32;
  }
}

.login-center {
  width: 50%;
  height: auto;
  margin: 0 auto !important;
  padding: 10px;
  position: relative;
}
