::ng-deep .p-dropdown {
  width: 100%;
}

::ng-deep .p-button {
  width: 100px;
  border: 1px solid rgb(204, 230, 254);
  .p-button-label {
    font-weight: 400;
  }
}

.header-left {
  float: left;
  font-weight: 500;
}
.header-divider {
  // width: 1px;
  margin: 12px 12px 12px 20px;
  border-color: rgba(237, 239, 241, 0.2);
}

::ng-deep .p-inputtext {
  height: 40px;
}
textArea {
  // .p-inputtext {
  height: 72px !important;
  // }
}
:host p-multiSelect ::ng-deep {
  .p-multiselect {
    width: 100%;
  }
}

.merchants-form {
  margin: 10px;
  padding: 20px;
  .inputs-div {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    label {
      color: #798693;
      font-size: 12px;
    }
    .isDeleted {
      padding-left: 12px;
      color: rgba(76, 85, 95, 1);
      font-weight: 400;
    }
  }
  .p-20 {
    padding: 20px;
  }
}
.p-lr {
  padding: 0px 20px;
}
.pb-16 {
  padding-bottom: 16px;
}
