<div class="view-container">
  <div class="view-container--card">
    <div
      class="view-container--card--header-container"
      [ngStyle]="{ height: cid == 'merchant' ? '136px' : '154px' }"
    >
      <ng-container
        [ngTemplateOutlet]="cid == 'merchant' ? merchant : terminal"
      ></ng-container>
      <ng-template #merchant>
        <div class="view-container--card--header-container--header">
          <div class="view-container--card--header-container--header--text">
            {{ details?.merchantNameEN }}
          </div>
          <div class="view-container--card--header-container--header--text">
            {{ details?.merchantNameAR }}
          </div>
          <div
            class="view-container--card--header-container--header--text icon"
          >
            <oc-icon
              [icon]="'buildings'"
              [width]="'20px'"
              [height]="'20px'"
            ></oc-icon>
            Hyper
          </div>
        </div>
      </ng-template>
      <ng-template #terminal>
        <div class="view-container--card--header-container--header">
          <div class="view-container--card--header-container--header--title">
            <label for="terminalId">Terminal ID :</label>
            <span>1234</span>
          </div>
          <p-divider></p-divider>
          <div class="view-container--card--header-container--header--text">
            <label for="terminalId">Carrefour</label>
          </div>
          <div class="view-container--card--header-container--header--text">
            <label for="terminalId">كارفور</label>
          </div>
          <div
            class="view-container--card--header-container--header--text-label"
          >
            <label for="terminalId">Merchant ID:</label>
            <span>45678</span>
          </div>
        </div>
      </ng-template>
    </div>
    <div class="view-container--card--details">
      <div class="view-container--card--details--item">
        <div class="color-info">Reference</div>
        <div class="">{{ details?.reference }}</div>
      </div>
      <div class="view-container--card--details--item">
        <div class="color-info">Merchant ID</div>
        <div class="">{{ details?.id }}</div>
      </div>

      <div class="view-container--card--details--item">
        <div class="color-info">Created by</div>
        <div class="">{{ details?.createdBy }}</div>
      </div>
      <div class="view-container--card--details--item">
        <div class="color-info">Created at</div>
        <div class="">
          {{ details?.createdAt | dateFixer | date : "dd-MM-yyyy hh:mm a" }}
        </div>
      </div>
    </div>
    <p-divider />
    <div class="view-container--card--location-details-container">
      <div
        class="view-container--card--location-details-container--icon-container"
      >
        <div
          class="view-container--card--location-details-container--icon-container--icon"
        >
          <oc-icon
            [icon]="'map-pin'"
            [width]="'20px'"
            [height]="'20px'"
          ></oc-icon>
        </div>
      </div>
      <div class="view-container--card--location-details-container--details">
        <div class="view-container--card--location-details-container--details">
          <span
            class="view-container--card--location-details-container--details--text"
            >Ismailia - Ismailia - Canal</span
          >
          <div
            class="view-container--card--location-details-container--details--item"
          >
            <label
              class="view-container--card--location-details-container--details--item--label"
              for="address"
              >Address:</label
            >
            <span
              class="view-container--card--location-details-container--details--item--text"
              >23 Orabi Square, Ismailia</span
            >
          </div>
          <div
            class="view-container--card--location-details-container--details--item"
          >
            <label
              class="view-container--card--location-details-container--details--item--label"
              for="landmark"
              >Landmark:</label
            >
            <span
              class="view-container--card--location-details-container--details--item--text"
              >text</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="view-container--card--map-container">
      <oc-map [mode]="formType" [coordinates]="coordinates"></oc-map>
    </div>
    <p-divider />
    <div
      class="view-container--card--performance-container"
      *ngIf="cid == 'merchant'"
    >
      <label
        for="perfomance"
        class="view-container--card--performance-container--title"
        >Merchant performance</label
      >
      <div class="view-container--card--performance-container--item">
        <div
          class="view-container--card--performance-container--item--progress"
        >
          <div
            class="view-container--card--performance-container--item--progress--title"
          >
            Successful visit
          </div>
          <div
            class="view-container--card--performance-container--item--progress--details"
          >
            <span
              class="view-container--card--performance-container--item--progress--details--percentage"
              >42:31%</span
            >
            <div
              class="view-container--card--performance-container--item--progress--details--bar"
            >
              <p-progressBar [value]="42.31">
                <ng-template pTemplate="content" let-value> </ng-template>
              </p-progressBar>
            </div>
            <span
              class="view-container--card--performance-container--item--progress--details--count"
              >11</span
            >
          </div>
        </div>
      </div>
      <div class="view-container--card--performance-container--item">
        <div
          class="view-container--card--performance-container--item--progress"
        >
          <div
            class="view-container--card--performance-container--item--progress--title"
          >
            Successful Deployments
          </div>
          <div
            class="view-container--card--performance-container--item--progress--details"
          >
            <span
              class="view-container--card--performance-container--item--progress--details--percentage"
              >81:25%</span
            >
            <div
              class="view-container--card--performance-container--item--progress--details--bar"
            >
              <p-progressBar [value]="81.25">
                <ng-template pTemplate="content" let-value> </ng-template>
              </p-progressBar>
            </div>
            <span
              class="view-container--card--performance-container--item--progress--details--count"
              >26</span
            >
          </div>
        </div>
      </div>
      <div class="view-container--card--performance-container--item">
        <div
          class="view-container--card--performance-container--item--progress"
        >
          <div
            class="view-container--card--performance-container--item--progress--title"
          >
            Successful Cancellation
          </div>
          <div
            class="view-container--card--performance-container--item--progress--details"
          >
            <span
              class="view-container--card--performance-container--item--progress--details--percentage"
              >0%</span
            >
            <div
              class="view-container--card--performance-container--item--progress--details--bar"
            >
              <p-progressBar [value]="0">
                <ng-template pTemplate="content" let-value> </ng-template>
              </p-progressBar>
            </div>
            <span
              class="view-container--card--performance-container--item--progress--details--count"
              >0</span
            >
          </div>
        </div>
      </div>
      <div class="view-container--card--performance-container--item">
        <div
          class="view-container--card--performance-container--item--progress"
        >
          <div
            class="view-container--card--performance-container--item--progress--title"
          >
            Successful Sales
          </div>
          <div
            class="view-container--card--performance-container--item--progress--details"
          >
            <span
              class="view-container--card--performance-container--item--progress--details--percentage"
              >0%</span
            >
            <div
              class="view-container--card--performance-container--item--progress--details--bar"
            >
              <p-progressBar [value]="0">
                <ng-template pTemplate="content" let-value> </ng-template>
              </p-progressBar>
            </div>
            <span
              class="view-container--card--performance-container--item--progress--details--count"
              >0</span
            >
          </div>
        </div>
      </div>
    </div>

    <p-divider />
    <ng-container
      [ngTemplateOutlet]="cid == 'merchant' ? merchantStats : terminalStats"
    >
      <ng-template #merchantStats>
        <div class="view-container--card--chart-container">
          <div class="view-container--card--chart-container--container">
            <div class="view-container--card--chart-container--container--icon">
              <oc-icon
                [icon]="'user-rectangle'"
                [width]="'20px'"
                [height]="'20px'"
              ></oc-icon>
            </div>
            <div
              class="view-container--card--chart-container--container--details"
            >
              <div
                class="view-container--card--chart-container--container--details--title"
              >
                Active terminals
              </div>
              <div
                class="view-container--card--chart-container--container--details--count"
              >
                5
              </div>
            </div>
          </div>
          <div class="view-container--card--chart-container--duration">
            <!-- <span class="float-right mt-3" style="color: green"> -->
            2 This month
            <!-- </span> -->
          </div>
        </div>
      </ng-template>
      <ng-template #terminalStats>
        <div class="view-container--card--chart-container">
          <div class="view-container--card--chart-container--container">
            <div class="view-container--card--chart-container--container--icon">
              <oc-icon
                [icon]="'ticket-blue'"
                [width]="'20px'"
                [height]="'20px'"
              ></oc-icon>
            </div>
            <div
              class="view-container--card--chart-container--container--details"
            >
              <div
                class="view-container--card--chart-container--container--details--title"
              >
                Active Tickets
              </div>
              <div
                class="view-container--card--chart-container--container--details--count"
              >
                2
              </div>
            </div>
          </div>
          <div class="view-container--card--chart-container--container">
            <div class="view-container--card--chart-container--container--icon">
              <oc-icon
                [icon]="'user-rectangle'"
                [width]="'20px'"
                [height]="'20px'"
              ></oc-icon>
            </div>
            <div
              class="view-container--card--chart-container--container--details"
            >
              <div
                class="view-container--card--chart-container--container--details--title"
              >
                Agents Visited
              </div>
              <div
                class="view-container--card--chart-container--container--details--count"
              >
                0
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>

    <div class="view-container--card--image" *ngIf="cid == 'merchant'"></div>
  </div>
</div>
