<div
  style="
    position: fixed;
    z-index: 999999999999999999;
    bottom: 0;
    width: 84%;
    margin-left: -15px;
  "
  [appSecured]="'delete'"
  class="delete-all"
  *ngIf="url && url.deleteAll"
>
  <div
    style="
      background: #2053a6;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 0;
    "
    [ngClass]="{ hide: isCollapsed }"
    class="well well-lg card card-block card-header"
  >
    <h2>{{ selectedIds?.length }} {{ "table.selected" | translate }}</h2>
    <button
      style="background: #4d75b8; color: white !important"
      class="btn"
      (click)="openedDialog = !openedDialog"
    >
      {{ "table.deleteAll" | translate }}
    </button>
  </div>
</div>

<div class="add-header mt-3">
  <div
    *ngIf="!showHeader && headerName"
    class="mr-3 ml-3"
    style="width: 2300px; font-weight: bold; font-size: 16px"
  >
    <span>
      {{ "moduleNames." + headerName | translate }}
    </span>
  </div>
  <div *ngIf="showSearchBar" style="margin-top: 12px" class="ml-3 mr-3">
    <app-search-bar
      [additionalField]="additionalField"
      [searchOnly]="searchOnly"
      (searchFilterTriggered)="searchFilterTriggered($event)"
      (getListData)="getTableDataFromSearchBar()"
      [filtersInput]="filters"
      [placeholderSearch]="placeholderSearch"
    ></app-search-bar>
  </div>
</div>
<div class="table-with-search">
  <form
    style="width: 100%"
    *ngIf="options.globalSearch"
    [formGroup]="globalSearch"
  >
    <div class="search-btn-wrap">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">
            <i class="fas fa-search"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control form-control-lg"
          id="validationCustomUsername"
          [placeholder]="'common.search' | translate"
          aria-describedby="inputGroupPrepend"
          formControlName="search"
        />
      </div>
    </div>
  </form>
  <div *ngIf="toggle" class="table-wrap">
    <app-list
      [clientSide]="clientSide"
      [url]="url"
      [columnsI]="columns"
      [actions]="actions"
      [viewCustomPermission]="viewCustomPermission"
      [id]="id"
      [data]="data"
      [options]="options"
      [noDataText]="noDataText"
      (selected)="getSelected($event)"
    ></app-list>
    <!-- TODO: removed due to check unCheck issue [IC-1477] -->
    <!-- [selectedData]="selectedData" -->
  </div>
</div>
