<div class="card mr-3">
  <div class="table-header">
    <div class="container pt-3">
      <div class="left">
        <div class="search-container ml-3 mr-3">
          <input type="text" class="search-input" placeholder="Search..." />
          <span class="search-icon">
            <i class="pi pi-search" style="font-size: 1rem"></i
          ></span>
        </div>
      </div>
      <div class="right ml-3 mr-3">
        <p-button
          label="Export"
          icon="pi pi-upload
          "
          [outlined]="true"
          size="small"
        ></p-button>
      </div>
    </div>
  </div>
  <p-table
    [value]="items"
    [lazy]="true"
    (onLazyLoad)="loadItems($event)"
    dataKey="id"
    [styleClass]="'p-datatable-sm'"
    [selection]="selectedItems"
    (selectionChange)="onSelectionChange($event)"
    [selectAll]="selectAll"
    (selectAllChange)="onSelectAllChange($event)"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [first]="first"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of columns">
          {{ col?.header }}
        </th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-item>
      <tr>
        <td *ngFor="let col of columns">
          <span *ngIf="!col?.customCell" [pTooltip]="item[col['field']]">
            {{ item[col["field"]] }}
          </span>
          <div *ngIf="col.customCell === 'multiLabel'">
            <div *ngFor="let item of col.field">
              <div *ngIf="item.custom === 'navigator'">
                <a
                  [routerLink]="col.action(rowData)"
                  (click)="col.action(rowData)"
                  style="font-size: 14px; color: #2053a6; cursor: pointer"
                >
                  {{ rowData[item.label] }}
                </a>
              </div>

              <span style="color: #969696" *ngIf="item.custom === 'default'">
                {{ rowData[item.label] }}
              </span>
              <span style="color: #969696" *ngIf="item.custom === 'icon'">
                {{ rowData[item.label] }}
              </span>
              <span style="color: #414141" *ngIf="item.custom === 'firstLabel'">
                {{ rowData[item.label] }}
              </span>
            </div>
          </div>
        </td>
        <td #myTDdiv>
          <!-- <i class="pi pi-pencil ml-3" style="font-size: 1rem"></i> -->
          <div class="card flex justify-content-center">
            <p-menu
              [appendTo]="myTDdiv"
              #menu
              [model]="actions"
              [popup]="true"
            />
            <p-button (click)="menu.toggle($event)" icon="pi pi-ellipsis-v" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
