<div class="p-grid ml-2 m-2">
  <div class="p-col" style="text-align: right">
    <span class="mt-2" style="float: left; font-weight: bolder"
      >Categories Errand Types</span
    >
    <p-button
      (click)="navigateToAdd()"
      label="Add Category"
      size="small"
      *secured="['admin-activities-errand-types-add']"
    >
      <span class="ml-1 mr-1 add">
        <i class="pi pi-plus add-icon"></i>
      </span>
    </p-button>
  </div>
</div>
<br *ngIf="!authService.hasPermission('admin-activities-errand-types-add')" />

<div class="mt-3">
  <oc-table
    [showSearchBar]="true"
    [url]="{
      getAll: '/ErrandType/GetErrandTypeGrid',
      export: '/ErrandType/ExportErrandType',
      import: '/ErrandType/ImportErrandType'
    }"
    [addButtonLabel]="'Add Category'"
    [columns]="columns"
    [buttonsExistance]="tableBtns"
    [exportUrl]="'/ErrandType/ExportErrandType'"
    [options]="{
      check: false,
      viewDetails: false,
      edit: showEdit,
      editURL: '/main/admin-activities/categories-errands-types/edit/',
      block: showBlock
    }"
    [uploadHeader]="'Upload Bulk Categories'"
    [sampleName]="'ImportErrandTypeSample.xlsx'"
    [service]="service"
  >
  </oc-table>
</div>
