<div class="grid">
  <div *ngIf="sidebarVisible" class="col-2 padding0" style="font-size: 12px">
    <div class="containerSideMenuOpen background-Primary">
      <div
        class="displayFlex background-Primary"
        style="justify-content: space-between; padding: 15px"
      >
        <img src="../../../assets/iamges/svg/logo.svg" alt="" />
        <img
          [ngStyle]="
            storage.getLang() == 'ar' ? { transform: 'rotate(180deg)' } : {}
          "
          (click)="sidebarVisible = !sidebarVisible"
          src="../../../assets/iamges/svg/Arrow.svg"
          alt="menu icon"
        />
      </div>

      <div class="m-3">
        <span class="color-grey">DASHBOARD</span>
      </div>
      <div
        (click)="navigate(item)"
        style="color: white; cursor: pointer"
        *ngFor="let item of dashboardItems"
        class="p-2"
        [ngStyle]="{ 'background-color': item.active ? '#003364' : null }"
      >
        <i
          [class]="item.icon"
          style="font-size: 1rem"
          [ngStyle]="{ color: item.active ? '#0080F9' : 'white' }"
        ></i>
        <span class="ml-3 mr-3" style="color: white">{{ item.label }}</span>
      </div>
      <!-- //////// -->
      <div class="m-3">
        <span class="color-grey">MAIN MODULES</span>
      </div>
      <div
        (click)="navigate(item)"
        style="color: white; cursor: pointer"
        *ngFor="let item of items"
        class="p-3"
        [ngStyle]="{ 'background-color': item.active ? '#003364' : null }"
      >
        <i
          [class]="item.icon"
          style="font-size: 1rem"
          [ngStyle]="{ color: item.active ? '#0080F9' : 'white' }"
        ></i>
        <span class="ml-3 mr-3" style="color: white">{{ item.label }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="!sidebarVisible" class="padding0 width5">
    <div class="containerSideMenuClosed">
      <div
        [ngStyle]="
          storage.getLang() == 'ar'
            ? { 'margin-right': '7px' }
            : { 'margin-left': '7px' }
        "
      >
        <img
          src="../../../assets/iamges/svg/logoA.svg"
          class="mb-2"
          alt="afaqy logo"
          height="25"
        />
        <img
          [ngStyle]="
            storage.getLang() == 'ar' ? {} : { transform: 'rotate(180deg)' }
          "
          (click)="sidebarVisible = !sidebarVisible"
          src="../../../assets/iamges/svg/Arrow.svg"
          alt="menu icon"
        />
      </div>
    </div>
  </div>

  <div class="col">
    <div
      style="position: absolute; z-index: 2"
      [ngStyle]="sidebarVisible ? { width: '82%' } : { width: '94%' }"
    >
      <div class="header">
        <span class="font-weight-bold color-black ml-3">
          {{ moduleHeader | translate }}
        </span>

        <div class="displayFlex">
          <button
            [ngClass]="{
              active: storage.getLang() == 'ar',
              notActive: storage.getLang() == 'en'
            }"
            (click)="changeLangage('ar')"
          >
            Arabic
          </button>
          <div class="divider"></div>
          <button
            [ngClass]="{
              active: storage.getLang() == 'en',
              notActive: storage.getLang() == 'ar'
            }"
            (click)="changeLangage('en')"
          >
            English
          </button>

          <button
            (click)="logOut()"
            [ngClass]="{
              borderLeft: storage.getLang() == 'en',
              borderRight: storage.getLang() == 'ar'
            }"
            class="logout-button"
          >
            {{ "logOut" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div style="height: 70px"></div>
    <router-outlet></router-outlet>
  </div>
</div>
