<div [formGroup]="form">
  <div class="p-grid ml-2 m-2">
    <div class="p-col" style="text-align: right">
      <span
        (click)="backToList()"
        class="mt-2 ml-3 header-left"
        style="color: #0080f9; cursor: pointer"
        >Users</span
      >
      <span class="mt-2 ml-2 mr-2 header-left">></span>
      <span class="mt-2 header-left"
        >{{ formType == "add" ? "Add" : "Edit" }} Change Password</span
      >
      <p-button
        class="mr-3 cancel-button"
        label="Cancel"
        [text]="true"
        (click)="backToList()"
        size="small"
      />

      <p-button
        (click)="submit()"
        [disabled]="!form?.valid"
        label="{{ formType == 'add' ? 'Add' : 'Save' }}"
        size="small"
      >
      </p-button>
    </div>
  </div>
  <hr class="header-divider" />
  <div class="merchants-form">
    <form [formGroup]="form">
      <div class="grid d-flex inputs-div">
        <div class="col-12 p-0">
          <div class="p-20 flex flex-wrap">
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="NewPassword"
                  >New Password <span class="p-error"> * </span>
                </label>
                <p-password
                  [toggleMask]="true"
                  [style]="{ width: '100%' }"
                  [inputStyle]="{ width: '100%' }"
                  id="password"
                  formControlName="NewPassword"
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      f.NewPassword?.errors?.required ||
                      f.NewPassword?.errors?.pattern
                  }"
                ></p-password>

                <div
                  *ngIf="
                    f.NewPassword.errors &&
                    (f.NewPassword.dirty || f.NewPassword.touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="f.NewPassword.errors.required">
                      New Password field is required
                    </span>
                    <span *ngIf="f.NewPassword.errors.pattern">
                      Only English letters are allowed.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="flex flex-column gap-2">
                <label for="ConfirmNewPassword"
                  >Confirm Password <span class="p-error"> * </span>
                </label>
                <input
                  [ngClass]="{
                    'ng-invalid ng-dirty':
                      f.ConfirmNewPassword?.errors?.required ||
                      f.ConfirmNewPassword?.errors?.pattern
                  }"
                  type="text"
                  pInputText
                  formControlName="ConfirmNewPassword"
                />

                <div
                  *ngIf="
                    f.ConfirmNewPassword.errors &&
                    (f.ConfirmNewPassword.dirty || f.ConfirmNewPassword.touched)
                  "
                  class="invalid-feedback"
                >
                  <div class="fs-10 color-red">
                    <span *ngIf="f.ConfirmNewPassword.errors.required">
                      Confirm Password field is required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
