<div>
  <div class="grid">
    <div class="col-4 p-0" style="border-radius: 15px">
      <div class="m-2 box-border">
        <div
          class="p-2"
          style="height: 80px; background-color: #1c8ef9; border-radius: 15px"
        >
          sad
        </div>
        <div style="height: 100px; margin-top: -55px">
          <div class="container">
            <svg viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">
              <path
                d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z"
                style="stroke: none; fill: #1c8ef9"
              ></path>
            </svg>
          </div>
        </div>
        <div>he</div>
        <div>he</div>
        <div>he</div>
        <div>he</div>
        <div>he</div>
        <div>he</div>
      </div>
      <div class="col-8"></div>
    </div>
  </div>
</div>
