<div>
  <div class="grid font-14 ml-2 m-2 mb-2">
    <div class="p-col" style="text-align: right">
      <span
        (click)="backToList()"
        class="mt-2 ml-3 header-left"
        style="color: #0080f9; cursor: pointer"
        >Merchant</span
      >
      <span class="mt-2 ml-2 mr-2 header-left">></span>
      <span class="mt-2 header-left">{{ details?.userName }}</span>
    </div>
  </div>
  <p-divider class="header-divider" />

  <div class="view-container">
    <div class="view-container--card">
      <oc-view-card
        [details]="details"
        [formType]="'view'"
        [coordinates]="coordinates"
      ></oc-view-card>
    </div>
    <!-- //////////////// -->

    <div class="view-container--list">
      <div>
        <div class="p-grid ml-2 m-2">
          <div class="p-col" style="text-align: right">
            <span class="mt-2" style="float: left; font-weight: bolder"
              >Terminal</span
            >
            <p-button
              (click)="navigateToAdd()"
              label="Add Terminal"
              size="small"
            >
              <span class="ml-1 mr-1 add">
                <i class="pi pi-plus add-icon"></i>
              </span>
            </p-button>
          </div>
        </div>
        <div class="mt-3">
          <oc-table
            [showSearchBar]="true"
            [url]="{
              getAll: '/Terminal/GetTerminalGrid',
              refId: id,
              refScope: 'merchantId',
              export: '/Terminal/ExportLeadGrid',
              import: '/Terminal/ImportTerminals'
            }"
            [addButtonLabel]="'Add Terminal'"
            [columns]="columns"
            [buttonsExistance]="tableBtns"
            [exportUrl]="'/Terminal/ExportLeadGrid'"
            [actions]="actions?.length ? actions : null"
            [options]="{
              check: false,
              viewDetails: true,
              viewDetailsURL: '/main/terminal/details',
              hasActionMenu: actions?.length ? true : false,
              favourite: false
            }"
            [filters]="filters"
            [uploadHeader]="'Upload Bulk Terminal'"
            [sampleName]="'ImportTerminalSample.xlsx'"
            [service]="terminalService"
          >
          </oc-table>
        </div>
      </div>
    </div>
  </div>
</div>
