svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.wave {
  height: 75px;
  background-color: #1c8ef9;
  border-radius: 10px;
  position: relative;
  z-index: 4;
}

::ng-deep .p-divider {
  width: 90%;
  margin: auto;
}

::ng-deep .p-progressbar {
  height: 15px;
}

.header-left {
  float: left;
  font-weight: bolder;
}
