@import "../../../../../assets/styles/mixins";
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}
.view-container {
  display: flex;
  font-size: 12px;
  margin: 0.5rem;
  gap: 1rem;
  @include breakpoints(up-xl) {
    margin: 0.5rem;
    gap: 1.25rem;
  }
  @include breakpoints(up-xxl) {
    gap: 1.75rem;
    margin: 0;
  }
  &--card {
    width: 30%;
    margin-left: 1rem;
  }
  &--list {
    width: 70%;
  }
}
:host ::ng-deep .header-divider .p-divider {
  width: 99%;
  right: 0.25rem;
  margin: 0.15rem 0 1rem 1rem;
  &::before {
    border-top: 1px solid #e5e7eb79;
  }
}

.wave {
  background: url("../../../../../assets/icons/view-card-header-sm.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 150px;
  margin-top: -4px;
}
.box-border {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the offset, blur, and color as needed */
}

::ng-deep .p-divider {
  width: 90%;
  margin: auto;
}

::ng-deep .p-progressbar {
  height: 15px;
}

.header-left {
  float: left;
  font-weight: bolder;
}
