::ng-deep .p-dropdown {
  width: 100%;
}

::ng-deep .p-multiselect {
  width: 100%;
  height: 42px;
}

::ng-deep .p-button {
  width: 100px;
  border: 1px solid rgb(204, 230, 254);
  .p-button-label {
    font-weight: 400;
  }
}

.header-left {
  float: left;
  font-weight: 500;
}
.header-divider {
  // width: 1px;
  margin: 12px 12px 12px 20px;
  border-color: rgba(237, 239, 241, 0.2);
}

::ng-deep .p-inputtext {
  height: 40px;
}

.merchants-form {
  margin: 10px;
  padding: 20px 0px;
  width: 100%;
  padding-left: 0px;
  .inputs-div,
  .details-form {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    label {
      color: #798693;
      font-size: 12px;
    }
  }
  .upload-image {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  .userType-field {
    padding: 0.5rem;
    margin-bottom: 10px;
    .radio-buttons {
      display: flex;
      gap: 1rem;
    }

    label {
      color: rgba(121, 134, 147, 1);
      font-size: 12px;
      display: block;
      margin-bottom: 0.5rem;
    }
  }
  .details-text {
    border-bottom: 1px solid rgba(237, 239, 241, 1);
    margin-bottom: 12px;
    p {
      margin-top: 0px;
    }
  }
  .p-20 {
    padding: 20px;
  }
}

.upload-container {
  position: relative;
  .upload-label {
    display: block;
    width: 100%;
    cursor: pointer;
  }

  .upload-box {
    background-color: #e3f2fd;
    border: 2px dashed #bbdefb;
    padding: 20px;
    display: flex;
    // flex-direction: column;
    text-align: left;
    border-radius: 5px;
    .upload-text {
      color: rgba(25, 27, 28, 1);
      font-weight: 600;
    }

    .upload-icon {
      display: block;
      margin: 0 auto 10px;
      font-size: 24px;
      color: #1e88e5;
    }

    .upload-box span {
      display: block;
      margin-bottom: 5px;
    }

    .browse-file {
      color: #1e88e5;
      background: none;
      padding: 0px;
      border: none;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
.upload-icon-container {
  position: absolute;
  bottom: 14px;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isManager {
  padding-left: 12px;
  color: rgba(76, 85, 95, 1);
  font-weight: 400;
}
.mt-20 {
  margin-top: 20px;
}
.pt-0 {
  padding-top: 0px;
}
.ml-3 {
  margin-left: 5px;
}
.profile-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile-image-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed #89c2ff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8f4ff;
  cursor: pointer;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.icon-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.1); /* Adjust the color and opacity as needed */
}
.upload-container {
  border: 1px dashed #d9d9d9;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  color: #5b5b5b;
}

.upload-container:hover {
  border-color: #409eff;
  color: #409eff;
}

.upload-label {
  display: block;
}

.upload-content {
  display: flex;
  // flex-direction: column;
  align-items: center;
}

.browse-file {
  color: #409eff;
  text-decoration: underline;
  cursor: pointer;
}

.file-info {
  border: 1px solid rgba(237, 239, 241, 1);
  height: 44px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;
}

.file-upload-text {
  text-align: left;
  padding-left: 5px;
}
.file-info-text {
  padding-left: 4px;
  overflow: hidden;
  font-size: 12px;
}
