/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/Inter-Regular.ttf");
}

body {
  background-color: #f9f9f9;
  font-family: inter;
}
.container-card {
  background-color: white;
  padding: 20px 20px 20px 20px !important;
  border-radius: 10px;
}
.text-bold {
  font-weight: bold !important;
}
.color-error {
  color: #f03700;
}
.color-success {
  color: #3eb200;
}
.color-Primary {
  color: #2053a6 !important;
}
.background-Primary {
  background: #2053a6 !important;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-14 {
  font-size: 14px;
}
.displayFlex {
  display: flex;
}
.cursor-pointer {
  cursor: pointer;
}
.displayInline {
  display: inline;
}
.displayBlock {
  display: block;
}
.color-grey {
  color: #a6badb;
}
.float-right {
  float: right;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}
.font-12 {
  font-size: 12px;
}

.color-info {
  color: #94a3b8;
}
.mt-2 {
  margin-top: 10px;
}

.p-card {
  padding: 20px;
  border-radius: 15px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-color {
  color: #e24c4c;
}
label {
  font-size: 14px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 40%;
}

.background-image {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: url("./assets/iamges/images/login.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.font-weight-bold {
  font-weight: bold;
}
.color-black {
  color: #1f2937;
}

.p-paginator-bottom {
  border-radius: 0px 0px 10px 10px !important;
}
.fs-10 {
  font-size: 10px;
}
.color-red {
  color: red;
}

.bg-cyan {
  background-color: #e8f2fb;
}

.fc-main {
  color: #5b6671;
}

.add {
  border: 1px solid;
  background: white;
  border-radius: 50%;
  width: 18px;
}

.add-icon {
  color: blue;
  font-size: 0.7rem;
}

.formcontainer {
  margin: 20px;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the offset, blur, and color as needed */
}

.box-border {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the offset, blur, and color as needed */
}
