<div class="p-grid ml-2 m-2">
  <div class="p-col" style="text-align: right">
    <span class="mt-2" style="float: left; font-weight: bolder"
      >Errand Channels</span
    >
    <p-button
      (click)="navigateToAdd()"
      label="Add Errand Channel"
      size="small"
      *secured="['admin-activities-errand-channel-add']"
    >
      <span class="ml-1 mr-1 add">
        <i class="pi pi-plus add-icon"></i>
      </span>
    </p-button>
  </div>
</div>
<br *ngIf="!authService.hasPermission('admin-activities-errand-channel-add')" />

<div class="mt-3">
  <oc-table
    [showSearchBar]="true"
    [url]="{
      getAll: url.AdminActivities.getErrandsChannel,
      export: url.AdminActivities.exportErrandsChannel,
      import: url.AdminActivities.importErrandsChannel
    }"
    [addButtonLabel]="'Add Errand Channel'"
    [columns]="columns"
    [buttonsExistance]="tableBtns"
    [exportUrl]="url.AdminActivities.exportErrandsChannel"
    [options]="{
      check: false,
      viewDetails: false,
      edit: showEdit,
      editURL: '/main/admin-activities/errands-channels/edit/',
      block: showBlock
    }"
    [uploadHeader]="'Upload Bulk Errand Channel'"
    [sampleName]="'ImportTemplateSample.xlsx'"
    [service]="service"
  >
  </oc-table>
</div>
